body{
    padding: 70px;
}

.background{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
   
    
    /*background-color: #27ae60; */
    background-size: cover;
} 

.wrapper{
    
    margin: auto;
    width: 80%;
}