
body{
    /*padding-top: 70px; */
    margin: auto;
    width: 90%;
    color: #333333;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 350%;
}

h3{
    font-size: 250%;
}

.navbar-default{
    background-color: #16a085;
}

.calendar{
    padding-bottom: 20px;
}

.calendar h3{
    font-size: 200%;
}

.col-sm-3{
    padding: 3% 0% 0% 0%;
}

.metrics{
    background-color: rgba(189, 195, 199, .7);
    padding: 0px 10px 10px 10px; 
    border-radius: 20px;
    color: #333333;
    font-family: 'Oswald', sans-serif;
}
.metrics h1{
    text-align: center;
}

.trends h1{
    text-align: center;
}

.trends h4{
    text-decoration: underline;
}

.contact{
    text-align: center;
}

#mychart{
    width: 90%;
    height: 90%;
}

#dayTrendChart{
    width: 90%;
    height: 90%;
}


/* FARM CSS */
#map {
        height: 350px;
        width: 100%;
}

.farm-content p{
    text-align: left;
}